* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0 5px;
    background: #eee;
}
header, nav, main, section, footer, article, aside {
    display: block;
}

header {

    img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    h1 {
        color: rgb(0, 174, 255);
        text-align: center;
    }
}

nav {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;

    li {
        margin-bottom: 5px;

        a {
            text-decoration: none;
            font-size: 1.2em;
            color: rgba(50, 59, 92, 0.781);
            color: rgb(53, 53, 110);
        }
    }

   
}

article {

    h2 {
        margin: 20px 0;
        color: rgb(0, 174, 255);
        text-transform: uppercase;
    }
    .service {
        
        h3 {
            color: rgb(0, 174, 255);
            text-align: center;
            margin-bottom: 10px;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .second, .third {
        margin: 30px 0;
    }
}